apiVersion: v1
kind: ConfigMap
metadata:
  name: persona
  namespace: {{ namespace }}
  labels:
    {{ label_managed_by }}: {{ managed_by_value }}
data:
  persona.yaml: |
{{ persona_yaml | indent(4, first=True) }}
